.chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.MuiChartsSvgLayer-root {
    width: 100% !important;
}

.MuiChartsLegend-label,
.MuiChartsAxis-tickLabel {
    font-family: var(--font-family), sans-serif;
    font-size: 14px !important;
    font-weight: 600 !important;
}